force-app/main/default/flows/CM_Create_ELO_Rank.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <description>Create an ELO Rank record when</description>
    <interviewLabel>CM_Create_ELO_Rank {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CM Create ELO Rank</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_ELO_Rank</name>
        <label>Create ELO Rank</label>
        <locationX>751</locationX>
        <locationY>383</locationY>
        <inputAssignments>
            <field>CM_ELO_Change__c</field>
            <value>
                <elementReference
        >Get_Values.Starting_Value__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CM_Player__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CM_Elo_Receipt__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Values</name>
        <label>Get Values</label>
        <locationX>578</locationX>
        <locationY>346</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_ELO_Rank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CM_Settings__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>K_Value__c</queriedFields>
        <queriedFields>Starting_Value__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>328</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Values</targetReference>
        </connector>
        <object>CM_Players__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
